@using Dominio.Models
@model Dominio.Models.Operador

<h1>Perfil</h1>

<dl>
    <dt>Nombre: </dt>
    <dd>@Model.Nombre</dd>

    <dt>Apellido: </dt>
    <dd>@Model.Apellido</dd>

    <dt>Email: </dt>
    <dd>@Model.Email</dd>

    <dt>Fecha de Ingreso:</dt>
    <dd>@Model.FechaIngreso.ToShortDateString()</dd>
</dl>
