@using Dominio

<h1>Login</h1>

<form method="post">

    <label>Email: </label>
    <input type="email" name="email" /><br; />

    <label>Contraseña: </label>
    <input type="password" name="contrasenia" />

    <input type="submit" value="Enviar" />
    <br />
</form>
@ViewBag.msg