@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Bienvenido al Hostal (Nombre del Hostal)</h1>

    <h2>@ViewBag.MsgBienvenida</h2>
    <p>@TempData["msgLogout"]</p>
    <p>@TempData["msgAltaCorrecta"]</p>


</div>
